<section class="advantage text-center" id="advantage">
  <div class="container_md">
    <div class="h3 advantage__title">Преимущества</div>
    <div class="advantage__row clearfix">
      <div class="col col-4">
        <div class="advantage__row__title">
          100 Мбит/с
        </div>
        <p class="advantage__descript">Быстрый и стабильный интернет благодаря высокой пропускной способности собственных сетей</p>
      </div>
      <div class="col col-4">
        <div class="advantage__row__title">
          84 HD канала
        </div>
        <p class="advantage__descript">Максимальное число каналов высокой четкости среди федеральных телеком-операторов</p>
      </div>
      <div class="col col-4">
        <div class="advantage__row__title">
          Скидка до 20%
        </div>
        <p class="advantage__descript">Дополнительная скидка при подключении услуг для дома в пакете с мобильной связью МегаФона</p>
      </div>
    </div>
    <div class="advantage__row clearfix">
      <div class="col col-4">
        <div class="advantage__row__title">
          24/7
        </div>
        <p class="advantage__descript">Поддержка, мониторинг сети и автоматическое дистанционное выявление и ликвидация сбоев до обнаружения их Клиентом</p>
      </div>
      <div class="col col-4">
        <div class="advantage__row__title">
          9000 точек Wi-Fi
        </div>
        <p class="advantage__descript">Крупнейшая бесплатная региональная сеть доступа в интернет на высокой скорости до 3 Мбит/с для клиентов Дом.ru.</p>
      </div>
      <div class="col col-4">
        <div class="advantage__row__title">
          Кастомизация
        </div>
        <p class="advantage__descript">Уникальные возможности собрать пакет услуг под свои интересы и потребности</p>
      </div>
    </div>
  </div>
</section>