<section class="price">
  <div class="price__container">
    <div class="h3 price__title text-center">Выберете один из тарифов для подключения</div>
    <div class="subtitle text-center">Мы собрали самые удобные тарифы для обеспечения <span> самых разных потребностей</span></div>
    <ul class="price__list price__list_xs clearfix">
      <li class="price__list__item price__list__item_default">
        <div class="price__size uppercase">
          l
        </div>
        <div class="price__size__name">
          Крепкий середнячок
        </div>
        <div class="price__cost">
          785
          <div class="pull-right price__cost__name">
            <div class="price__cost__name_up">руб</div>
            <div class="price__cost__name_down">мес</div>
          </div>
        </div>
        <div class="price__profit">
          Экономия 4200 руб в год
        </div>
        <div class="price__descript">
          <p class="price__descript_pull-down">Интернет 70Мбит/с</p>
          <p>  178 каналов ТВ (40HD)</p>
        </div>
        <div class="price__buy">
          <button class="btn btn_white btn_md">
            Подключить
          </button>
        </div>
      </li>
      <li class="price__list__item price__list__item_special ">
        <div class="price__size uppercase">
          m full
        </div>
        <div class="price__size__name">
          Специальное предложение
        </div>
        <div class="price__cost">
          700
          <div class="pull-right price__cost__name">
            <div class="price__cost__name_up">руб</div>
            <div class="price__cost__name_down">мес</div>
          </div>
        </div>
        <div class="price__profit">
          Экономия 4200 руб в год
        </div>
        <div class="price__descript">
          <p class="price__descript_pull-down">Интернет 100Мбит/с</p>
          <p class="price__descript_pull-down">на 24 месяца</p>
          <p>154 канала ТВ (46HD)</p>
        </div>
        <div class="price__buy">
          <button class="btn btn_orange btn_md">
            Подключить
          </button>
        </div>
      </li>
      <li class="price__list__item price__list__item_default">
        <div class="price__size uppercase">
          xl
        </div>
        <div class="price__size__name">
          Почти совершенство
        </div>
        <div class="price__cost">
          895
          <div class="pull-right price__cost__name">
            <div class="price__cost__name_up">руб</div>
            <div class="price__cost__name_down">мес</div>
          </div>
        </div>
        <div class="price__profit">
          Экономия 4200 руб в год
        </div>
        <div class="price__descript">
          <p class="price__descript_pull-down">Интернет 50Мбит/с</p>
          <p>178 канала ТВ (40HD)</p>
        </div>
        <div class="price__buy">
          <button class="btn btn_white btn_md">
            Подключить
          </button>
        </div>
      </li>
      <li class="price__list__item price__list__item_default">
        <div class="price__size uppercase">
          xxl
        </div>
        <div class="price__size__name">
          Рок-звезда
        </div>
        <div class="price__cost price__cost_xl">
          1050
          <div class="pull-right price__cost__name">
            <div class="price__cost__name_up">руб</div>
            <div class="price__cost__name_down">мес</div>
          </div>
        </div>
        <div class="price__profit">
          Экономия 4200 руб в год
        </div>
        <div class="price__descript">
          <p class="price__descript_pull-down">Интернет 100Мбит/с</p>
          <p>178 канала ТВ (60HD)</p>
        </div>
        <div class="price__buy">
          <button class="btn btn_white btn_md">
            Подключить
          </button>
        </div>
      </li>
    </ul>
    <ul class="price__list price__list_md clearfix">
      <li class="price__list__item price__list__item_special ">
        <div class="price__size__wrap">
          <div class="price__size uppercase">
            m full
          </div>
          <div class="price__size__name">
            Специальное <br> предложение
          </div>
        </div>
        <div class="price__cost_wrap">
          <div class="price__cost pull-right">
            700
            <div class="pull-right price__cost__name">
              <div class="price__cost__name_up">руб</div>
              <div class="price__cost__name_down">мес</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="price__profit hidden_sm text-right">
            Экономия 4200 руб в год
          </div>
          <button class="price__btn_tb btn btn_orange btn_md pull-right">
            Подключить
          </button>
        </div>
        <div class="price__descript">
          <div class="pull-left price__descript_wrap">
            <p class="price__descript_pull-down">Интернет <nobr>60Мбит/с</nobr></p>
            <p class="price__descript_pull-down">Бонус скорости на 24 мес - <nobr>100 Мбит/с</nobr></p>
          </div>
          <p class="pull-right">154 канала ТВ <br> (46HD)</p>
        </div>
      </li>
      <li class="price__list__item price__list__item_default">
        <div class="price__size__wrap">
          <div class="price__size uppercase">
            l
          </div>
          <div class="price__size__name">
            Крепкий середнячок
          </div>
        </div>
        <div class="price__cost_wrap">
          <div class="price__cost pull-right">
            785
            <div class="pull-right price__cost__name">
              <div class="price__cost__name_up">руб</div>
              <div class="price__cost__name_down">мес</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="price__profit hidden_sm text-right">
            Экономия 4200 руб в год
          </div>
          <button class="price__btn_tb btn btn_border btn_md pull-right">
            Подключить
          </button>
        </div>
        <div class="price__descript">
          <div class="pull-left price__descript_wrap">
            <p class="price__descript_pull-down">Интернет <br> <nobr>70Мбит/с</nobr></p>
          </div>
          <p class="pull-right">178 канала ТВ <br> (40HD)</p>
        </div>
      </li>
      <li class="price__list__item price__list__item_default">
        <div class="price__size__wrap">
          <div class="price__size uppercase">
            xl
          </div>
          <div class="price__size__name">
            Почти совершенство
          </div>
        </div>
        <div class="price__cost_wrap">
          <div class="price__cost pull-right">
            895
            <div class="pull-right price__cost__name">
              <div class="price__cost__name_up">руб</div>
              <div class="price__cost__name_down">мес</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="price__profit hidden_sm text-right">
            Экономия 4200 руб в год
          </div>
          <button class="price__btn_tb btn btn_border btn_md pull-right">
            Подключить
          </button>
        </div>
        <div class="price__descript">
          <div class="pull-left price__descript_wrap">
            <p class="price__descript_pull-down">Интернет <br> <nobr>50Мбит/с</nobr></p>
          </div>
          <p class="pull-right">178 канала ТВ <br> (60HD)</p>
        </div>
      </li>
      <li class="price__list__item price__list__item_default">
        <div class="price__size__wrap">
          <div class="price__size uppercase">
            xxl
          </div>
          <div class="price__size__name">
            Рок-звезда
          </div>
        </div>
        <div class="price__cost_wrap">
          <div class="price__cost pull-right">
            1050
            <div class="pull-right price__cost__name">
              <div class="price__cost__name_up">руб</div>
              <div class="price__cost__name_down">мес</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="price__profit hidden_sm text-right">
            Экономия 4200 руб в год
          </div>
          <button class="price__btn_tb btn btn_border btn_md pull-right">
            Подключить
          </button>
        </div>
        <div class="price__descript">
          <div class="pull-left price__descript_wrap">
            <p class="price__descript_pull-down">Интернет <br> <nobr>100Мбит/с</nobr></p>
          </div>
          <p class="pull-right">178 канала ТВ <br> (60HD)</p>
        </div>
      </li>
    </ul>
  </div>
</section>