<div class="nav container_lg" id="navFixed">
  <div class="nav__trigger"></div>
  <ul class="clearfix" id="top-menu">
    <li class="nav__item nav__item_active">
      <a href="#price">
        <span class="nav__item_small">01.</span>
        Выбрать тариф
      </a>
    </li>
    <li class="nav__item">
      <a href="#bonus">
        <span class="nav__item_small">02.</span>
        Бонусы
      </a>
    </li>
    <li class="nav__item">
      <a href="#advantage">
        <span class="nav__item_small">03.</span>
        Преимущества
      </a>
    </li>
    <li class="nav__item">
      <a href="#how">
        <span class="nav__item_small">04.</span>
        Как подключить
      </a>
    </li>
    <li class="nav__item">
      <a href="#order">
        <span class="nav__item_small">05.</span>
        Заявка на подключение
      </a>
    </li>
    <li class="header__tel">
      <a href="" class="link d-block">
        <span class="header__tel__num">+7 (930) 680-62-20</span>
        <!-- <span class="link_red">
          Заказать обратный звонок
        </span> -->
      </a>
    </li>
  </ul>
</div>