/* Webfont: FedraSansAltPro-BookTF */@font-face {
    font-family: 'FedraSansAltProBookTF';
    src: url('FedraSansAltPro-BookTF.eot'); /* IE9 Compat Modes */
    src: url('FedraSansAltPro-BookTF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FedraSansAltPro-BookTF.woff') format('woff'), /* Modern Browsers */
         url('FedraSansAltPro-BookTF.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FedraSansAltPro-BookTF.svg#FedraSansAltPro-BookTF') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

