<section class="main-block">
  <div class="container_lg">
    <div class="main-block__text main-block__text_white">
      <svg class="icon package-white icon-package"><use xlink:href="#package"></use></svg>
      <p class="main-block__text_small uppercase">Специальное предложение</p>
      <div class="h1 main-block__text_big">
        Получите больше, чем ожидали! Пакет из интернета, ТВ, уникальных преимуществ, бонусов и подарков.
      </div>
      <button class="btn btn_orange btn_sm main-block__btn">
        Подключить
      </button>
    </div>
  </div>
  <div class="nav container_lg" id="navFixed">
  <div class="nav__trigger"></div>
  <ul class="clearfix" id="top-menu">
    <li class="nav__item nav__item_active">
      <a href="#price">
        <span class="nav__item_small">01.</span>
        Выбрать тариф
      </a>
    </li>
    <li class="nav__item">
      <a href="#bonus">
        <span class="nav__item_small">02.</span>
        Бонусы
      </a>
    </li>
    <li class="nav__item">
      <a href="#advantage">
        <span class="nav__item_small">03.</span>
        Преимущества
      </a>
    </li>
    <li class="nav__item">
      <a href="#how">
        <span class="nav__item_small">04.</span>
        Как подключить
      </a>
    </li>
    <li class="nav__item">
      <a href="#order">
        <span class="nav__item_small">05.</span>
        Заявка на подключение
      </a>
    </li>
    <li class="header__tel">
      <a href="" class="link d-block">
        <span class="header__tel__num">+7 (930) 680-62-20</span>
        <!-- <span class="link_red">
          Заказать обратный звонок
        </span> -->
      </a>
    </li>
  </ul>
</div>
</section>