<header class="header" id="headFixed">
  <div class="container">
    <div class="row">
      <a href="" class="header__logo pull-left">
        <svg class="icon icon-domru"><use xlink:href="#domru"></use></svg>
      </a>
      <div class="header__tel pull-right text-right">
        <a href="tel:+79306806220" class="link d-block">
          <span class="header__tel__num header__tel__num_white">+7 (930) 680-62-20</span>
          <!-- <span class="link_red">
            Заказать обратный звонок
          </span> -->
        </a>
      </div>
      <div class="dropdown header__dropdown" id="chooseCity">
        <div class="dropdown__selected header__dropdown__selected">
          Барнаул
        </div>
        <ul class="dropdown__content">
          <li class="dropdown__content__item dropdown__content__item_selected"><a>Барнаул</a></li>
          <li class="dropdown__content__item"><a href="../Bryansk/index.html">Брянск</a></li>
          <li class="dropdown__content__item"><a href="../Volgograd/index.html">Волгоград</a></li>
          <li class="dropdown__content__item"><a href="../Volga/index.html">Волжский</a></li>
          <li class="dropdown__content__item"><a href="../Voronezh/index.html">Воронеж</a></li>
          <li class="dropdown__content__item"><a href="../Dzerzhinsk/index.html">Дзержинск</a></li>
          <li class="dropdown__content__item"><a href="../Ekaterinburg/index.html">Екатеринбург</a></li>
          <li class="dropdown__content__item"><a href="../Izhevsk/index.html">Ижевск</a></li>
          <li class="dropdown__content__item"><a href="../Irkutsk/index.html">Иркутск</a></li>
          <li class="dropdown__content__item"><a href="../YoshkarOla/index.html">Йошкар-Ола</a></li>
          <li class="dropdown__content__item"><a href="../Kazan/index.html">Казань</a></li>
          <li class="dropdown__content__item"><a href="../Kirov/index.html">Киров</a></li>
          <li class="dropdown__content__item"><a href="../Krasnoyarsk/index.html">Красноярск</a></li>
          <li class="dropdown__content__item"><a href="../Mound/index.html">Курган</a></li>
          <li class="dropdown__content__item"><a href="../Kursk/index.html">Курск</a></li>
          <li class="dropdown__content__item"><a href="../Lipetsk/index.html">Липецк</a></li>
          <li class="dropdown__content__item"><a href="../Magnitogorsk/index.html">Магнитогорск</a></li>
          <li class="dropdown__content__item"><a href="../NaberezhnyeChelny/index.html">Набережные Челны</a></li>
          <li class="dropdown__content__item"><a href="../Nizhnekamsk/index.html">Нижнекамск</a></li>
          <li class="dropdown__content__item"><a href="../NizhniyNovgorod/index.html">Нижний Новгород</a></li>
          <li class="dropdown__content__item"><a href="../Novosibirsk/index.html">Новосибирск</a></li>
          <li class="dropdown__content__item"><a href="../Omsk/index.html">Омск</a></li>
          <li class="dropdown__content__item"><a href="../Orenburg/index.html">Оренбург</a></li>
          <li class="dropdown__content__item"><a href="../Penza/index.html">Пенза</a></li>
          <li class="dropdown__content__item"><a href="../Perm/index.html">Пермь</a></li>
          <li class="dropdown__content__item"><a href="../RostovNaDonu/index.html">Ростов-на-Дону</a></li>
          <li class="dropdown__content__item"><a href="../Ryazan/index.html">Рязань</a></li>
          <li class="dropdown__content__item"><a href="../Samara/index.html">Самара</a></li>
          <li class="dropdown__content__item"><a href="../StPetersburg/index.html">Санкт-Петербург</a></li>
          <li class="dropdown__content__item"><a href="../Saratov/index.html">Саратов</a></li>
          <li class="dropdown__content__item"><a href="../Syzran/index.html">Сызрань</a></li>
          <li class="dropdown__content__item"><a href="../Tver/index.html">Тверь</a></li>
          <li class="dropdown__content__item"><a href="../Tomsk/index.html">Томск</a></li>
          <li class="dropdown__content__item"><a href="../Tula/index.html">Тула</a></li>
          <li class="dropdown__content__item"><a href="../Tyumen/index.html">Тюмень</a></li>
          <li class="dropdown__content__item"><a href="../Ulyanovsk/index.html">Ульяновск</a></li>
          <li class="dropdown__content__item"><a href="../Ufa/index.html">Уфа</a></li>
          <li class="dropdown__content__item"><a href="../Cheboksary/index.html">Чебоксары</a></li>
          <li class="dropdown__content__item"><a href="../Chelyabinsk/index.html">Челябинск</a></li>
          <li class="dropdown__content__item"><a href="../Engels/index.html">Энгельс</a></li>
          <li class="dropdown__content__item"><a href="../Yaroslavl/index.html">Ярославль</a></li>
        </ul>
      </div>
      <i class="arrow"></i>
    </div>
  </div>
</header>