.scroll .jspHorizontalBar {
  background: none;
  height: 2px;
}
.scroll .jspHorizontalBar .jspTrack {
  background: #eaeaea;
}
.scroll .jspHorizontalBar .jspDrag {
  background: #f39c12;
}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}
.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 2px;
}
.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 22px;
  left: -7px;
  top: -1px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
/* Styling;
 */
.noUi-target {
  background: #eaeaea;
}
.noUi-connect {
  background: #f39c12;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  background-position: 0 0;
  background: url("../images/sprite.svg") no-repeat;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px;
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrowDown {
  font-size: 3.2rem;
  width: 1.65625em;
}
.icon-arrowLeft {
  font-size: 3.2rem;
  width: 0.53125em;
}
.icon-arrowLine {
  font-size: 3.2rem;
  width: 0.40625em;
}
.icon-arrowLineH {
  font-size: 3.2rem;
  width: 0.40625em;
}
.icon-arrowRight {
  font-size: 3.2rem;
  width: 0.53125em;
}
.icon-bookmark {
  font-size: 3.2rem;
  width: 0.75em;
}
.icon-cart {
  font-size: 3.2rem;
  width: 0.75em;
}
.icon-case {
  font-size: 3.2rem;
  width: 0.96875em;
}
.icon-compare {
  font-size: 3.2rem;
  width: 0.9375em;
}
.icon-fb {
  font-size: 3.2rem;
  width: 1em;
}
.icon-filter {
  font-size: 3.2rem;
  width: 0.9375em;
}
.icon-gp {
  font-size: 3.2rem;
  width: 1em;
}
.icon-heart {
  font-size: 3.2rem;
  width: 1em;
}
.icon-in {
  font-size: 3.2rem;
  width: 1em;
}
.icon-list {
  font-size: 3.2rem;
  width: 1em;
}
.icon-menuArrow {
  font-size: 3.2rem;
  width: 2em;
}
.icon-ok {
  font-size: 3.2rem;
  width: 1em;
}
.icon-point {
  font-size: 3.2rem;
  width: 0.75em;
}
.icon-search {
  font-size: 3.2rem;
  width: 1.0625em;
}
.icon-tel {
  font-size: 3.2rem;
  width: 0.75em;
}
.icon-tile {
  font-size: 3.2rem;
  width: 1em;
}
.icon-tw {
  font-size: 3.2rem;
  width: 1em;
}
.icon-vk {
  font-size: 3.2rem;
  width: 1em;
}
.icon-yt {
  font-size: 3.2rem;
  width: 1em;
}
.icons {
  background: url("../images/sprite.svg") no-repeat;
}
.svg-check {
  background-position: 53.333333333333336% 0;
}
.svg-check-dims {
  width: 14px;
  height: 14px;
}
.svg-checked {
  background-position: 100% 0;
}
.svg-checked-dims {
  width: 14px;
  height: 14px;
}
.svg-range {
  background-position: 0 0;
}
.svg-range-dims {
  width: 16px;
  height: 22px;
}
/*RESET-CSS*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Tahoma, 'Source Sans Pro';
  font-weight: 400;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
input {
  outline: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.icon-vk {
  fill: #5781ad;
}
.icon-fb {
  fill: #3e6fac;
}
.icon-tw {
  fill: #60b5f0;
}
.icon-in {
  fill: #828083;
}
.icon-gp {
  fill: #ff543c;
}
.icon-ok {
  fill: #ef8c30;
}
.icon-yt {
  fill: #ff3026;
}
/*COLOR*/
/*FONTS*/
h2,
.h2 {
  font-size: 24px;
  color: #303030;
}
h3,
.h3 {
  font-size: 20px;
  color: #303030;
}
.title {
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  color: #303030;
  text-transform: uppercase;
  border-bottom: solid 2px #eaeaea;
  letter-spacing: .2em;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1230px) {
  .title {
    border-bottom: none;
    margin-bottom: 0;
  }
  .title.text-center {
    text-align: left;
  }
}
.title span {
  border-bottom: solid 2px #f39c12;
  padding-bottom: 16px;
}
@media only screen and (max-width: 1230px) {
  .title span {
    border-bottom: none;
  }
}
.text-center {
  text-align: center;
}
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.link_dotted {
  border-bottom: dotted 1px #303030;
}
.link_s {
  font-size: 13px;
}
.link_xs {
  font-size: 12px;
}
.link_h_orange:hover {
  color: #f39c12;
}
.link_h_orange:active {
  color: #f1900f;
}
.link_new {
  color: #52b636;
}
.link_new:hover {
  color: #5dc03f;
}
.link_new:active {
  color: #47ac2d;
}
.link_sales {
  color: #e43636;
}
.link_sales:hover {
  color: #ee4747;
}
.link_sales:active {
  color: #da2525;
}
.btn {
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}
.btn_L {
  font-size: 12px;
  text-transform: uppercase;
  padding: 11px 34px;
  letter-spacing: .1em;
}
.btn_orange {
  background-color: #f39c12;
}
.btn_orange:hover {
  background-color: #f39c12;
}
.btn_orange:active {
  background-color: #f1900f;
}
.btn_black {
  background-color: #303030;
}
.btn_black:hover {
  background-color: #f39c12;
}
.btn_black:active {
  background-color: #f1900f;
}
.btn_sales {
  background-color: #e43636;
}
.btn_sales:hover {
  background-color: #ee4747;
}
.btn_sales:active {
  background-color: #da2525;
}
.btn_new {
  background-color: #52b636;
}
.btn_new:hover {
  background-color: #5dc03f;
}
.btn_new:active {
  background-color: #47ac2d;
}
.uppercase {
  text-transform: uppercase;
}
/*GRID*/
.col {
  float: left;
  padding: 0 15px;
}
@media only screen and (max-width: 960px) {
  .col {
    padding: 0 10px;
  }
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
@media only screen and (min-width: 1231px) {
  .col-9-lg {
    width: 75%;
  }
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 83.33333333%;
}
.col-12 {
  width: 100%;
}
.container {
  width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 1230px) {
  .container {
    width: 960px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:before,
.clearfix:before,
.row:before,
.row:before,
.clearfix:after,
.clearfix:after,
.row:after,
.row:after {
  clear: both;
  content: '';
  display: table;
}
.row {
  margin: 0 -15px;
}
@media only screen and (max-width: 960px) {
  .row {
    margin: 0 -10px;
  }
}
.input {
  width: 100%;
  height: 100%;
  border: solid 1px #eaeaea;
  border-radius: 3px;
}
.hidden {
  display: none;
}
.top-bar {
  background-color: #f39c12;
  color: #fff;
  padding-top: 5px;
  font-size: 14px;
  height: 30px;
}
.top-bar__tel {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}
.top-bar__tel .icon {
  vertical-align: -3px;
  margin-right: 10px;
  fill: #fff;
  font-size: 1.2em;
}
.top-bar__name {
  margin-top: 2px;
}
.cart__count {
  width: 23px;
  height: 20px;
  color: #fff;
  background-color: #f39c12;
  font-size: 11px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 20px;
  position: absolute;
  top: -8px;
  right: -6px;
}
.header {
  margin-top: 14px;
  color: #303030;
}
@media only screen and (max-width: 1230px) {
  .header {
    margin-top: 0;
  }
  .header .container:before,
  .header .container:after {
    clear: both;
    content: '';
    display: table;
  }
}
@media only screen and (max-width: 960px) {
  .header {
    padding-right: 10px;
  }
}
.header__top {
  border-bottom: solid 2px #f39c12;
  padding-bottom: 16px;
}
@media only screen and (max-width: 1230px) {
  .header__top {
    text-align: center;
    border-bottom: solid 1px #eaeaea;
    padding-bottom: 8px;
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 13px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1230px) {
  .header__logo {
    float: none;
    display: inline-block;
    width: 160px;
    margin-top: 6px;
  }
  .header__logo img {
    width: 100%;
    height: auto;
  }
}
.header .icon-search,
.header .icon-cart {
  fill: #c0c0c0;
}
.header__form {
  margin-left: 55px;
  width: 620px;
}
@media only screen and (max-width: 1230px) {
  .header__form {
    float: none;
    margin-left: 0;
    position: absolute;
    width: 24px;
    right: 54px;
    top: 16px;
    height: 24px;
  }
}
@media only screen and (max-width: 360px) {
  .header__form {
    width: 40px;
    right: 32px;
  }
}
.header__search {
  height: 40px;
  font-size: 16px;
  color: #303030;
  position: relative;
}
.header__search input {
  font-size: 16px;
  padding-left: 16px;
  letter-spacing: -0.04em;
}
.header__search .icon {
  position: absolute;
  top: 11px;
  right: 8px;
  font-size: 1.2em;
}
@media only screen and (max-width: 1230px) {
  .header__search .icon {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    font-size: 1.6em;
  }
}
.header__user {
  margin-top: 19px;
}
@media only screen and (max-width: 1230px) {
  .header__user {
    margin-top: 0;
    float: right;
  }
}
@media only screen and (max-width: 1230px) {
  .header__reg {
    border-bottom: solid 1px #c0c0c0;
    padding-bottom: 24px;
    padding-left: 21px;
  }
  .header__reg .link_s {
    font-size: 14px;
    color: #595959;
  }
}
.header__cart {
  text-align: right;
  font-size: 13px;
  margin-top: 13px;
  position: relative;
}
@media only screen and (max-width: 1230px) {
  .header__cart {
    margin-top: 18px;
    margin-right: 3px;
  }
}
.header__cart .icon {
  vertical-align: -2px;
  font-size: 1.3em;
  margin-right: 4px;
}
@media only screen and (max-width: 1230px) {
  .header__cart .icon {
    font-size: 1.9em;
    fill: #303030;
  }
}
@media only screen and (min-width: 1231px) {
  .header__nav {
    text-align: justify;
    margin: 10px -30px 0;
    position: relative;
    font-size: 14px;
  }
  .header__nav:before {
    width: 52px;
    height: 100%;
    content: '';
    background-color: #fff;
    right: -22px;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .header__nav__sub {
    border: solid 1px #eaeaea;
    position: absolute;
    background-color: #fff;
    z-index: 100;
    white-space: nowrap;
    top: 460%;
    padding: 0;
    color: #303030;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    margin: -1px;
    height: 0;
  }
  .header__nav__sub:hover {
    color: #303030;
  }
  .header__nav__sub_left {
    left: 11px;
  }
  .header__nav__sub_right {
    right: -13px;
  }
  .header__nav__sub li {
    display: inline-block;
    text-align: left;
    text-transform: none;
    padding: 0 10px;
  }
  .header__nav__sub li > ul li {
    display: block;
    padding: 0;
    margin-top: 16px;
  }
  .header__nav:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .header__nav__link {
    position: relative;
    display: block;
    padding: 0 30px;
  }
  .header__nav__item {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    margin-top: 12px;
  }
  .header__nav__item:before {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    content: '';
    opacity: 0;
    width: 100%;
    height: 0;
    position: absolute;
    left: 11px;
    top: -19px;
    border-top: solid 1px #eaeaea;
    border-left: solid 1px #eaeaea;
    border-right: solid 1px #eaeaea;
    border-bottom: solid 1px #fff;
    background-color: #fff;
  }
  .header__nav__item:hover .header__nav__link {
    z-index: 103;
  }
  .header__nav__item:hover:before {
    z-index: 102;
    opacity: 1;
    height: 82px;
  }
  .header__nav__item:hover .header__nav__sub {
    margin: auto;
    height: auto;
    opacity: 1;
    pointer-events: auto;
    padding: 28px 45px 39px 10px;
  }
  .header__nav__item span {
    border-top: dashed 1px;
    border-bottom: dashed 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: inherit;
  }
  .header__nav__item:after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c0c0c0;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -2px;
  }
}
.header__bottom {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1230px) {
  .header__bottom {
    margin-bottom: 0;
  }
}
.popular {
  padding-top: 25px;
}
@media only screen and (max-width: 1230px) {
  .popular {
    padding-top: 6px;
  }
}
@media only screen and (max-width: 1230px) {
  .popular__slider {
    white-space: nowrap;
    overflow: auto;
  }
}
.popular__slider .owl-carousel {
  position: relative;
  margin-top: 30px;
}
@media only screen and (max-width: 1230px) {
  .popular__slider .owl-carousel {
    padding-bottom: 21px;
    margin-top: 0;
    display: block !important;
  }
  .popular__slider .owl-carousel .link {
    display: inline-block;
    width: 158px;
    margin-right: 10px;
  }
  .popular__slider .owl-carousel .link img {
    width: 100%;
  }
}
.popular__slider .owl-carousel .owl-nav {
  position: absolute;
  top: 120px;
  width: 100%;
  z-index: 100;
}
.popular__slider .owl-carousel .owl-nav svg {
  fill: #c0c0c0;
  font-size: 2.6em;
}
@media only screen and (max-width: 1230px) {
  .popular__slider .owl-carousel .owl-item {
    width: 157px !important;
  }
}
.popular__slider .owl-carousel .owl-prev {
  position: absolute;
  left: -50px;
}
.popular__slider .owl-carousel .owl-next {
  position: absolute;
  right: -50px;
}
.goods__item {
  margin-top: 20px;
  font-size: 14px;
}
@media only screen and (max-width: 1230px) {
  .goods__item {
    margin-top: 17px;
  }
}
.goods__title {
  color: #303030;
  margin-bottom: 5px;
}
.goods__description {
  color: #c0c0c0;
  margin-bottom: 6px;
}
.goods__price {
  color: #f39c12;
}
.goods-tile {
  margin-top: 68px;
}
@media only screen and (max-width: 1230px) {
  .goods-tile {
    margin-top: 30px;
  }
}
.goods-tile__item {
  position: relative;
  color: #303030;
  margin-bottom: 28px;
}
@media only screen and (max-width: 960px) {
  .goods-tile__item {
    margin-bottom: 22px;
  }
}
.goods-tile__item img {
  width: 100%;
  height: auto;
}
.goods-tile__wrap {
  padding: 25px 21px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
@media only screen and (max-width: 1230px) {
  .goods-tile__wrap {
    padding-top: 11px;
    padding-left: 16px;
  }
}
.goods-tile__title {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 16px;
  width: 200px;
  line-height: 28px;
}
@media only screen and (max-width: 960px) {
  .goods-tile__title {
    width: auto;
    line-height: 17px;
    font-weight: 700;
    font-size: 13px;
  }
}
.goods-tile__title_new {
  color: #52b636;
}
.goods-tile__title_sales {
  color: #e43636;
}
.goods-tile__descript {
  width: 210px;
  font-size: 16px;
  line-height: 21px;
}
.goods-tile .btn {
  position: absolute;
  left: 21px;
  bottom: 32px;
}
.brands {
  margin-top: 15px;
}
@media only screen and (max-width: 960px) {
  .brands {
    margin-bottom: 50px;
  }
  .brands .row {
    white-space: nowrap;
    overflow: auto;
  }
}
.brands__col {
  margin-top: 22px;
  margin-bottom: 15px;
  text-align: center;
  width: 225px;
}
@media only screen and (max-width: 960px) {
  .brands__col {
    float: none !important;
    display: table-cell;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 15px;
  }
}
@mobile {
  height: 67px;
  .jspVerticalBar {
    display: none;
  }
}
.footer {
  background-color: #f2f2f2;
  padding: 36px 0;
  margin-top: 55px;
  padding-bottom: 60px;
  font-size: 14px;
}
@media only screen and (max-width: 1230px) {
  .footer {
    margin-top: 0;
    padding-top: 14px;
    border-top: solid 2px #c0c0c0;
    background-color: transparent;
  }
  .footer .pull-left {
    float: none;
  }
}
.footer__icon {
  position: relative;
  border: solid 2px #fff;
  height: 60px;
  padding-top: 10px;
  vertical-align: middle;
  line-height: 30px;
  margin: 5px 0 9px;
  padding-left: 48px;
  padding-right: 7px;
}
@media only screen and (max-width: 1230px) {
  .footer__icon {
    width: 121px;
    display: inline-block;
    padding-left: 42px;
  }
  .footer__icon:first-child {
    margin-right: 3px;
  }
}
@media only screen and (max-width: 360px) {
  .footer__icon {
    width: 100%;
  }
  .footer__icon:first-child {
    margin-left: 0;
    margin-right: 0;
  }
}
.footer__icon svg {
  position: absolute;
  left: 10px;
  top: 12px;
  fill: #c0c0c0;
  font-size: 1.8em;
}
.footer__icon svg.icon-point {
  left: 13px;
}
.footer__icon .link {
  line-height: 17px;
  display: inline-block;
  font-size: 13px;
  width: 80px;
}
.footer__links {
  margin-top: 10px;
}
@media only screen and (max-width: 1230px) {
  .footer__links {
    border-right: none !important;
    border-top: solid 1px #c0c0c0;
    padding-left: 20px;
    padding-top: 34px;
    padding-right: 20px !important;
    margin-right: -20px;
  }
  .footer__links .footer__title {
    margin-bottom: 21px;
  }
  .footer__links.footer__service,
  .footer__links.footer__about {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
}
.footer__links ul {
  padding-top: 0;
  line-height: 20px;
  float: left;
}
@media only screen and (max-width: 1230px) {
  .footer__links ul {
    float: none;
    padding-top: 0;
  }
}
.footer__links li {
  font-size: 12px;
}
@media only screen and (max-width: 1230px) {
  .footer__links li {
    padding-bottom: 10px;
  }
  .footer__links li .link {
    font-size: 14px;
  }
}
.footer__service {
  margin-left: 52px;
  padding-right: 54px;
  border-right: solid 1px #fff;
}
@media only screen and (max-width: 1230px) {
  .footer__service {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
}
.footer__service ul:first-of-type {
  margin-right: 100px;
}
.footer__about {
  margin-left: 25px;
  padding-right: 55px;
  border-right: solid 1px #fff;
}
.footer__about ul:first-of-type {
  margin-right: 80px;
}
.footer__title {
  font-size: 15px;
  color: #303030;
}
.footer__social {
  margin-top: 10px;
  margin-left: 30px;
  width: 151px;
}
@media only screen and (max-width: 1230px) {
  .footer__social {
    border-top: solid 1px #c0c0c0;
    padding-left: 20px;
    padding-top: 34px;
    padding-right: 20px !important;
    margin-right: -20px;
    width: auto;
    margin-left: -20px;
  }
}
.footer__social ul {
  margin: 15px -2px;
}
.footer__social li {
  display: inline-block;
  margin: 0 2px;
  line-height: 32px;
}
.footer__social svg {
  font-size: 1.9em;
}
@media only screen and (max-width: 1230px) {
  .footer__social svg {
    font-size: 1.7em;
  }
}
.footer__rights {
  margin-top: 21px;
  padding-top: 22px;
  line-height: 20px;
  border-top: solid 1px #fff;
  font-size: 12px;
}
@media only screen and (max-width: 1230px) {
  .footer__rights {
    border-color: #c0c0c0;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
  }
}
.footer__rights p {
  width: 390px;
}
@media only screen and (max-width: 1230px) {
  .footer__rights p {
    width: 206px;
  }
}
.fixbar {
  position: fixed;
  background-color: #303030;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 44px;
  color: #c0c0c0;
  font-size: 13px;
  z-index: 10000;
}
.fixbar__cart {
  width: 394px;
  background-color: #000;
  border-left: solid 1px #595959;
  height: 44px;
  padding: 0 0 0 20px;
  vertical-align: middle;
  margin-right: -20px;
}
.fixbar__cart svg {
  fill: #f39c12;
}
.fixbar__cart .btn {
  margin-top: 5px;
  margin-left: 21px;
  height: 34px;
  text-transform: uppercase;
  width: 146px;
  display: inline-block;
  text-align: center;
}
.fixbar__cart .fixbar__count {
  margin: 0 5px;
  background-color: #f39c12;
  color: #fff;
}
.fixbar__left {
  margin-top: 8px;
}
.fixbar__left a {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  padding-left: 15px;
}
.fixbar__left a:first-child:after {
  content: '';
  width: 1px;
  height: 44px;
  right: 10px;
  background-color: #595959;
  position: absolute;
  top: -8px;
  right: 0;
}
.fixbar__left svg {
  margin-right: 4px;
  fill: #595959;
}
.fixbar__left .fixbar__count {
  margin-left: 5px;
  background-color: #595959;
}
.fixbar svg {
  vertical-align: middle;
  font-size: 1.3em;
}
.fixbar__count {
  width: 28px;
  height: 28px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 7px;
  border-radius: 10px;
}
.select {
  display: none;
}
.dropdown {
  border: solid 1px #eaeaea;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  outline: none;
  font-size: 14px;
  padding-left: 19px;
  height: 36px;
  line-height: 34px;
  color: #303030;
}
.dropdown .icon {
  font-size: 0.49em;
  float: right;
  -webkit-transition: all 0.125s ease-in-out;
  -o-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  margin-top: 15px;
  margin-right: 8px;
}
.dropdown .option {
  outline: none;
  padding-left: 16px;
}
.dropdown .option:hover {
  background-color: #e6e6e6;
}
.dropdown.open .icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dropdown.open .option {
  cursor: pointer;
}
.dropdown.open .dropdown__list {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  height: auto;
  margin: 4px auto auto;
}
.dropdown.select {
  margin-top: 10px;
  display: block;
  width: 305px;
}
.dropdown__list {
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
  height: 1px;
  margin: -1px;
  background-color: #fff;
  border-radius: 3px;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 999;
}
.dropdown__current {
  float: left;
}
.inner {
  padding-top: 26px;
}
@media only screen and (min-width: 1231px) {
  .inner {
    border-top: solid 1px #eaeaea;
  }
}
.breadcrumbs {
  font-size: 11px;
  margin-bottom: 10px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs a,
.breadcrumbs li {
  color: #c0c0c0;
}
.sort {
  font-size: 13px;
}
@media only screen and (max-width: 1230px) {
  .sort {
    display: none;
  }
  .sort.dropdown {
    display: block;
    height: 40px;
    padding-left: 15px;
  }
}
@media only screen and (min-width: 1231px) {
  .sort {
    margin-top: 23px;
  }
}
@media only screen and (min-width: 1231px) {
  .sort li {
    display: inline-block;
  }
}
.sort__title {
  color: #c0c0c0;
}
@media only screen and (min-width: 1231px) {
  .sort__title {
    margin-right: 6px;
  }
}
.sort svg {
  vertical-align: middle;
  fill: #303030;
  font-size: 1em;
  margin: 0 5px 0 4px;
}
.sort_up {
  transform: rotate(180deg);
}
.pagination {
  font-size: 13px;
  margin-top: 8px;
}
@media only screen and (max-width: 1230px) {
  .pagination {
    float: right;
    margin-top: 0;
  }
}
@media only screen and (max-width: 1230px) {
  .pagination__amount {
    margin-top: 11px;
  }
}
@media only screen and (min-width: 1231px) {
  .pagination__amount {
    padding-top: 5px;
    margin-right: 27px;
    float: left;
  }
}
@media only screen and (min-width: 1231px) {
  .pagination__page {
    float: left;
    margin-top: -3px;
  }
  .pagination__page .pagination__prev {
    margin-right: 2px;
  }
  .pagination__page .pagination__item {
    margin: 0 2px;
  }
}
.pagination__title {
  color: #c0c0c0;
}
.pagination ul {
  display: inline-block;
}
.pagination li {
  display: inline-block;
}
.pagination svg {
  font-size: 2.4em;
  vertical-align: middle;
}
.pagination li {
  color: #c0c0c0;
}
.pagination li.pagination__item {
  color: #303030;
}
.pagination a {
  color: #303030;
}
@media only screen and (min-width: 1231px) {
  .pagination__item {
    height: 31px;
  }
}
.pagination__next {
  transform: rotate(180deg);
}
@media only screen and (min-width: 1231px) {
  .pagination__show {
    margin-right: 19px;
  }
  .pagination__show .pagination__item {
    margin-left: 6px;
  }
}
@media only screen and (min-width: 1231px) {
  .pagination__view {
    vertical-align: 1px;
    margin-top: 3px;
    margin-left: 7px;
  }
  .pagination__view > li {
    cursor: pointer;
  }
  .pagination__view svg {
    font-size: 1em;
    fill: #303030;
  }
  .pagination__view_active svg {
    fill: #f39c12;
  }
}
.catalog-menu {
  float: left;
  font-size: 12px;
  width: 100%;
}
.catalog-menu__title {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid 1px #eaeaea;
  padding-bottom: 19px;
}
.catalog-menu__content {
  margin-top: 19px;
}
.catalog-menu__content li {
  padding-bottom: 17px;
  letter-spacing: -0.04em;
}
.catalog {
  margin-bottom: 20px;
  font-size: 14px;
}
@media only screen and (max-width: 1230px) {
  .catalog {
    margin-top: 28px;
  }
}
@media only screen and (max-width: 1230px) {
  .catalog {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1230px) {
  .catalog__header {
    margin-bottom: 18px;
  }
  .catalog__header:before,
  .catalog__header:after {
    clear: both;
    content: '';
    display: table;
  }
  .catalog__header .h2 {
    float: left;
  }
}
@media only screen and (min-width: 961px) {
  .catalog__list {
    height: 120px;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
  }
  .catalog__list:before,
  .catalog__list:after {
    clear: both;
    content: '';
    display: table;
  }
  .catalog__list .catalog__hover__action {
    float: right;
  }
  .catalog__list .catalog__wrap_bd {
    padding-left: 25px;
    padding-right: 33px;
  }
  .catalog__list .catalog__wrap__info {
    margin-left: 20px;
    float: left;
  }
  .catalog__list .catalog__description {
    margin-bottom: 27px;
  }
  .catalog__list .catalog__title {
    display: block;
    margin-bottom: 9px;
  }
  .catalog__list .goods__price {
    margin-top: 13px;
    font-size: 20px;
    float: right;
  }
  .catalog__list .catalog__img {
    float: left;
    height: 118px;
    width: 118px;
  }
  .catalog__list .catalog__view {
    left: 50%;
    top: 50%;
    margin-left: -94px;
    margin-top: -19px;
  }
  .catalog__list:hover {
    overflow: visible;
  }
  .catalog__list:hover .catalog__wrap_bd {
    padding-left: 9px;
    padding-right: 19px;
    left: 15px;
    width: calc(100% - 28px);
    height: 200px;
  }
  .catalog__list .catalog__hover__img {
    float: left;
    max-width: calc(100% - 205px);
  }
  .catalog__list .catalog__hover__img li {
    display: inline-block;
  }
}
.catalog__tile {
  width: 33.33333333%;
}
@media only screen and (min-width: 961px) {
  .catalog__tile {
    height: 380px;
  }
  .catalog__tile .catalog__hover__img {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10px;
    padding-top: 10px;
  }
  .catalog__tile .catalog__view {
    left: 100px;
    top: 125px;
    z-index: 10;
  }
  .catalog__tile:hover .catalog__wrap_bd {
    width: 339px;
    left: -54px;
    padding-left: 68px;
    padding-right: 14px;
    padding-bottom: 21px;
    min-height: 100%;
  }
  .catalog__tile .catalog__title {
    margin-bottom: 7px;
  }
  .catalog__tile .catalog__label {
    float: right;
  }
  .catalog__tile .goods__price {
    float: left;
  }
  .catalog__tile .catalog__img {
    height: 275px;
    width: 255px;
    padding-top: 20px;
  }
  .catalog__tile .catalog__description {
    min-height: 38px;
    line-height: 19px;
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 961px) {
  .catalog_animate {
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (min-width: 961px) {
  .catalog__view {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #c0c0c0;
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    position: absolute;
    right: auto;
    text-align: center;
    vertical-align: middle;
    width: 188px;
  }
}
.catalog__wrap {
  position: relative;
}
@media only screen and (max-width: 960px) {
  .catalog__wrap {
    border-top: solid 1px #eaeaea;
    height: auto;
    padding-top: 10px;
    margin-bottom: 18px;
    width: 100%;
    overflow: hidden;
  }
  .catalog__wrap:before,
  .catalog__wrap:after {
    clear: both;
    content: '';
    display: table;
  }
  .catalog__wrap .catalog__wrap__info {
    float: left;
    width: 100%;
    margin-left: -112px;
    padding-left: 133px;
  }
  .catalog__wrap .catalog__label {
    float: right;
  }
  .catalog__wrap .catalog__description {
    margin-bottom: 9px;
  }
  .catalog__wrap .catalog__title {
    display: block;
  }
  .catalog__wrap .catalog__img {
    float: left;
    height: 118px;
    width: 112px;
  }
  .catalog__wrap .catalog__hover__action {
    margin-left: 133px;
    margin-top: 8px;
    float: right;
    float: left;
    display: block;
  }
}
@media only screen and (max-width: 360px) {
  .catalog__wrap .catalog__img {
    float: left;
    width: 70px;
  }
  .catalog__wrap .catalog__wrap__info {
    margin-left: -70px;
    padding-left: 105px;
  }
  .catalog__wrap .catalog__hover__action {
    margin-left: 105px;
  }
}
.catalog__wrap_bd {
  background-color: #fff;
  z-index: 1;
}
@media only screen and (min-width: 961px) {
  .catalog__wrap:hover .catalog_animate {
    opacity: 1;
    visibility: visible;
  }
  .catalog__wrap:hover .catalog__wrap_bd {
    position: absolute;
    top: -1px;
    border: solid 1px #c0c0c0;
  }
}
.catalog__img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.catalog__img img {
  width: auto;
  height: 100%;
}
.catalog__title {
  font-weight: bold;
}
@media only screen and (min-width: 961px) {
  .catalog__title {
    margin-top: 17px;
    margin-bottom: 9px;
  }
}
@media only screen and (max-width: 960px) {
  .catalog__title {
    margin-top: 8px;
    margin-bottom: 7px;
  }
}
.catalog__title_link {
  display: block;
  text-decoration: underline;
}
.catalog__description {
  display: block;
  color: #c0c0c0;
}
@media only screen and (max-width: 960px) {
  .catalog__description {
    line-height: 19px;
  }
}
.catalog__price {
  color: #f39c12;
}
.catalog__label {
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  padding: 2px 7px;
  height: 19px;
}
.catalog__label_g {
  background-color: #52b636;
}
.catalog__label_r {
  background-color: #e43636;
}
.catalog__label_o {
  background-color: #f39c12;
}
.catalog__hover:before,
.catalog__hover:after {
  clear: both;
  content: '';
  display: table;
}
@media only screen and (min-width: 961px) {
  .catalog__hover__img {
    min-height: 100%;
  }
  .catalog__hover__img li {
    width: 49px;
    height: 64px;
    border: solid 2px #f39c12;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .catalog__hover__img img {
    width: auto;
    height: 80%;
    vertical-align: -19px;
  }
}
.catalog__hover__action {
  margin-top: 14px;
}
.catalog__hover__action .link {
  display: block;
}
.catalog__hover__action .link:first-child {
  margin-bottom: 7px;
}
.catalog__hover__action .icon {
  fill: #c0c0c0;
  display: inline-block;
  font-size: 1.4em;
  margin-right: 5px;
  vertical-align: middle;
}
.catalog__hover__action .favorite_select .icon,
.catalog__hover__action .compare_select .icon {
  fill: #f39c12;
}
.catalog-filter {
  padding-right: 15px;
}
.catalog-filter__reset {
  cursor: pointer;
  font-weight: normal;
  color: #c0c0c0;
  text-transform: none;
  font-size: 11px;
}
.catalog-filter__title {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 19px;
}
@media only screen and (max-width: 1230px) {
  .catalog-filter__title {
    font-size: 12px;
    margin-top: 25px;
  }
}
.catalog-filter__search {
  border-radius: 3px;
  border: solid 1px #eaeaea;
  height: 28px;
  width: 100%;
  margin-top: 20px;
  padding-left: 5px;
}
.catalog-filter__toggle {
  cursor: pointer;
  padding-left: 10px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1230px) {
  .catalog-filter__toggle {
    margin-right: 5px;
  }
}
.catalog-filter__toggle.hide {
  padding-left: 0;
  padding-right: 10px;
  transform: rotate(180deg);
}
.catalog-filter__toggle .icon {
  font-size: .7em;
  vertical-align: 1px;
  fill: #c0c0c0;
}
@media only screen and (max-width: 1230px) {
  .catalog-filter__toggle .icon {
    font-size: .8em;
  }
}
.catalog-filter__content {
  margin-top: 4px;
  border-bottom: solid 1px #eaeaea;
  padding-bottom: 22px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1230px) {
  .catalog-filter__content {
    padding-bottom: 13px;
    margin-bottom: 28px;
  }
}
.catalog-filter__content li {
  margin-bottom: 16px;
}
.catalog-filter__range {
  margin-bottom: 30px;
}
.catalog-filter .noUi-inputs {
  margin-bottom: 15px;
}
.catalog-filter .noUi-inputs input {
  background-color: transparent;
  margin-left: 6px;
  width: 84px;
  height: 28px;
  border-radius: 3px;
  border: solid 1px #eaeaea;
  padding-left: 5px;
}
@media only screen and (max-width: 1230px) {
  .catalog-filter .noUi-inputs input {
    width: 100px;
  }
}
@media only screen and (max-width: 360px) {
  .catalog-filter .noUi-inputs input {
    width: 80px;
  }
}
@media only screen and (max-width: 1230px) {
  .filter {
    float: left;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    overflow: scroll;
    height: 100%;
    padding: 0;
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.07);
  }
  .filter .catalog-filter__title,
  .filter .catalog-filter__content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .filter .header__reg {
    padding-left: 20px;
    line-height: 16px;
  }
  .filter .header__reg a {
    line-height: 14px;
  }
  .filter__toggle {
    height: 40px;
    padding-top: 13px;
    text-align: center;
    font-size: 12px;
  }
  .filter__toggle .icon-filter {
    vertical-align: -3px;
    fill: #fff;
    font-size: 1.2em;
  }
  .filter_active {
    width: 305px;
    padding-top: 20px;
  }
  .filter_animate {
    -webkit-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
  }
  .filter__wrapper {
    overflow: hidden;
    position: relative;
  }
  .filter__content {
    /*Default content is hidden*/
    position: absolute;
    height: 100%;
    width: 0;
    left: -100%;
    top: 0;
  }
  .filter__content_active {
    /*Position showing content*/
    left: 0;
    width: 100%;
    position: relative;
  }
  .filter .footer {
    background-color: #f2f2f2;
  }
}
@media only screen and (max-width: 360px) {
  .filter_active {
    width: 250px;
  }
}
.checkbox {
  cursor: pointer;
}
.checkbox:before {
  content: '';
  display: inline-block;
  vertical-align: -2px;
  margin-right: 12px;
  background: url("../images/sprite.svg") no-repeat;
  background-position: 53.333333333333336% 0;
  width: 14px;
  height: 14px;
}
input[type="checkbox"]:checked + .checkbox:before {
  background: url("../images/sprite.svg") no-repeat;
  background-position: 100% 0;
  width: 14px;
  height: 14px;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
.menu__sub__back {
  display: none;
}
@media only screen and (max-width: 1230px) {
  .title {
    cursor: pointer;
  }
  .menu__level {
    /*Change menu content size*/
    padding-top: 20px;
    float: left;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    background-color: #f2f2f2;
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.07);
  }
  .menu__level .container {
    width: 305px;
  }
  .menu__level .link_h_orange:hover {
    color: #303030;
  }
  .menu__level_active {
    width: 305px;
  }
  .menu__level_animate {
    -webkit-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
  }
  .menu__toggle {
    /*Change toggle size by adjusting width & height*/
    cursor: pointer;
    height: 20px;
    margin-top: 21px;
    position: relative;
    width: 22px;
    float: left;
  }
  .menu__toggle i {
    /*Change toggles color here*/
    cursor: pointer;
    background-color: #303030;
    border-radius: 3px;
    height: 20%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .menu__toggle i:nth-child(2) {
    top: 40%;
  }
  .menu__toggle i:nth-child(3) {
    top: 80%;
  }
  .menu__wrapper {
    overflow: hidden;
    position: relative;
  }
  .menu__content {
    /*Default content is hidden*/
    position: absolute;
    height: 100%;
    width: 0;
    left: -100%;
    top: 0;
  }
  .menu__content_active {
    /*Position showing content*/
    left: 0;
    width: 100%;
    position: relative;
  }
  .menu__content__sub {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .menu__content__sub_hide {
    display: none;
  }
  .menu__sub {
    padding: 0;
    position: absolute;
    height: 100%;
    width: 0;
    left: -100%;
    top: 0;
    cursor: pointer;
  }
  .menu__sub__level {
    background-color: #fff;
  }
  .menu__sub__level_active {
    left: 0;
    width: 100%;
    position: relative;
  }
  .menu__sub__toggle {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-bottom: solid 1px #eaeaea;
  }
  .menu__sub__toggle_hide {
    position: absolute;
    left: -100%;
  }
  .menu__sub__toggle_active {
    left: 0;
    position: relative;
  }
  .menu__sub__toggle_active > .menu__sub__back {
    left: 0;
    position: relative;
    width: 100%;
  }
  .menu__sub__toggle_active li > .menu__sub__back {
    left: 0;
    position: relative;
    width: 100%;
  }
  .menu__sub__toggle_active .header__reg {
    display: none !important;
  }
  .menu__sub__toggle_active .toggle__item {
    background-color: #eaeaea;
  }
  .menu__sub__back {
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    padding-left: 21px;
    padding-bottom: 20px;
    line-height: 20px;
    font-size: 14px;
    text-transform: none;
  }
  .menu__sub__back .icon {
    vertical-align: -2px;
    font-size: 1em;
    margin-right: 5px;
  }
  .menu__shift {
    float: left;
    width: 100%;
    position: relative;
    left: 0;
  }
  .menu__shift_active {
    position: absolute;
    left: 305px;
  }
  .toggle__item {
    display: block;
    font-size: 14px;
    padding-bottom: 18px;
    padding-left: 21px;
    padding-top: 17px;
  }
}
@media only screen and (max-width: 360px) {
  .menu__shift_active {
    left: 250px;
  }
  .menu__level_active {
    width: 250px;
  }
}
@media only screen and (max-width: 960px) {
  .menu__level .container {
    width: 100%;
  }
}
.visible-md {
  display: none !important;
}
.visible-mb {
  display: none !important;
}
@media only screen and (max-width: 1230px) {
  .col-sm-6 {
    width: 50%;
  }
  .visible-md {
    display: block !important;
  }
  .hidden-md {
    display: none !important;
  }
}
@media only screen and (max-width: 960px) {
  .hidden-mb {
    display: none !important;
  }
  .visible-mb {
    display: block !important;
  }
}

/*# sourceMappingURL=maps/styles.css.map */
