<footer class="hiden-mobile">
  <nav arial-label="Footer menu">
    <a href="">Журналистам</a> | 
    <a href="">Работа в "ЛЕГЕНДЫ ДРЕВНИХ"</a> | 
    <a href="">Политика конфиденцальности</a> | 
    <a href="">Юридическме документы</a> | 
    <a href="">Контакты</a> | 
    <a href="">Карта сайта</a>
  </nav>
  <div class="copyright">
    Все товарные знаки являются собственностью соответствующих владельцев.
    © “ЛЕГЕНДЫ ДРЕВНИХ”, 2016 г. Все права защищены.
  </div>
  <div class="f_social">
    <span>Будем на связи!</span>
    <a class="in" href=""></a>
    <a class="gp" href=""></a>
    <a class="fb" href=""></a>
    <a class="vk" href=""></a>
    <a class="ok" href=""></a>
  </div>
</footer>
</div>
</dody>