<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Legend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="container">
  <header class="header-log">
    <div class="register hiden-tablet hiden-mobile">
      <a href="" class="visible-tablet visible-mobile">РЕГИСТРАЦИЯ</a>
    </div>
    <div class="header-form">
      <div class="log-wrap">
        <div class="ava">
          <img src="images/ava.jpg" alt="">
        </div>
        <div class="name"><span>Имя игрока</span></div>
        <div class="level">25 уровень</div>
        <span class="form_action">
          <button>Выйти</button>
        </span>
      </div>
    </div>
    <div class="clearfix"></div>
    <nav arial-label="Menu" class="menu">
      <div>
        <span>играть</span>
        <a href="">новости</a>
        <a href="">об игре</a>
        <a href="">видео</a>
        <a href="">форум</a>
        <a href="">цитаты</a>
      </div>
      <div class="next visible-mobile"></div>
    </nav>
  </header>

