<div class="left-menu show">
  <a href="" class="left-menu-link hiden-tablet-md hiden-mobile hidden-mobile-md"></a>
  <ul>
    <li><a href="">Общие вопросы</a></li>
    <li><a href="">Идеи и предложения</a></li>
    <li><a href="">Клановая жизнь</a></li>
    <li><a href="">Раздел 1</a></li>
    <li><a href="">Раздел 2</a></li>
    <li><a href="">Раздел 3</a></li>
    <li><a href="">Ошибки в игре</a></li>
    <li><a href="">Отзывы об игре</a></li>
    <li><a href="">Раздел 5</a></li>
    <li><a href="">Раздел 6</a></li>
    <li class="active">Раздел 7</li>
    <li><a href="">Встречи</a></li>
    <li><a href="">Праздники и подарки</a></li>
  </ul>
</div>