/* Webfont: ITCBodoniSeventytwoW10-Bd */@font-face {
    font-family: 'BodoniBd';
    src: url('BodoniBd.eot'); /* IE9 Compat Modes */
    src: url('BodoniBd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BodoniBd.woff') format('woff'), /* Modern Browsers */
         url('BodoniBd.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BodoniBd.svg#BodoniBd') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

