/* Webfont: ITCBodoniSeventytwoW10-It */@font-face {
    font-family: 'BodoniIt';
    src: url('BodoniIt.eot'); /* IE9 Compat Modes */
    src: url('BodoniIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BodoniIt.woff') format('woff'), /* Modern Browsers */
         url('BodoniIt.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BodoniIt.svg#BodoniIt') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

