.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-AppStore {
  font-size: 2.703rem;
  width: 2.84869em; }

.icon-Bouqet {
  font-size: 102.4rem;
  width: 0.91406em; }

.icon-Bubble {
  font-size: 3.2rem;
  width: 1em; }

.icon-Cancel {
  font-size: 1.4rem;
  width: 1.07143em; }

.icon-Car {
  font-size: 102.4rem;
  width: 1.31543em; }

.icon-Cart {
  font-size: 1.9rem;
  width: 1.31579em; }

.icon-Facebook {
  font-size: 1.569rem;
  width: 0.50414em; }

.icon-Heart {
  font-size: 3.2rem;
  width: 1.15625em; }

.icon-Instagram {
  font-size: 1.8rem;
  width: 1.00167em; }

.icon-Odnoclass {
  font-size: 1.638rem;
  width: 0.60501em; }

.icon-Search {
  font-size: 1.6rem;
  width: 1em; }

.icon-Star {
  font-size: 2.6rem;
  width: 1.03846em; }

.icon-Znak {
  font-size: 102.4rem;
  width: 0.83301em; }

.icon-arrow {
  font-size: 0.5rem;
  width: 1.8em; }

.icon-arrowUp {
  font-size: 0.5rem;
  width: 1.8em; }

.icon-lRu {
  font-size: 0.6rem;
  width: 1.5em; }

.icon-minus {
  font-size: 1.9rem;
  width: 1em; }

.icon-plus {
  font-size: 1.9rem;
  width: 1em; }

.icon-twitter {
  font-size: 1.5rem;
  width: 1.2em; }

.icon-vk {
  font-size: 1.019rem;
  width: 1.73307em; }

.radio_nav:before, .header__tel__icon, .dropdown__selected_theme_black.dropdown__selected__icon:after, .dropdown__selected_theme_white.dropdown__selected__icon:after {
  display: inline-block;
  background-image: url("../images/sprite.svg");
  background-size: 2.875em 2.4375em; }

.lt-ie9 .radio_nav:before, .lt-ie9 .header__tel__icon, .lt-ie9 .dropdown__selected_theme_black.dropdown__selected__icon:after, .lt-ie9 .dropdown__selected_theme_white.dropdown__selected__icon:after {
  background-image: url("../images/sprite.png"); }

@font-face {
  font-family: "sf";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUIText/SFUIText-Regular.eot?") format("eot"), url("../fonts/SFUIText/SFUIText-Regular.otf") format("opentype"), url('../fonts/SFUIText/SFUIText-Regular.svg#str-replace(sf, " ", "_")') format("svg"), url("../fonts/SFUIText/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText-Regular.woff") format("woff"); }

@font-face {
  font-family: "sfB";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUIText/SFUIText-Bold.eot?") format("eot"), url("../fonts/SFUIText/SFUIText-Bold.otf") format("opentype"), url('../fonts/SFUIText/SFUIText-Bold.svg#str-replace(sfB, " ", "_")') format("svg"), url("../fonts/SFUIText/SFUIText-Bold.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText-Bold.woff") format("woff"); }

@font-face {
  font-family: "sfM";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUIText/SFUIText-Medium.eot?") format("eot"), url("../fonts/SFUIText/SFUIText-Medium.otf") format("opentype"), url('../fonts/SFUIText/SFUIText-Medium.svg#str-replace(sfM, " ", "_")') format("svg"), url("../fonts/SFUIText/SFUIText-Medium.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText-Medium.woff") format("woff"); }

@font-face {
  font-family: "sfL";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUIText/SFUIText-Light.eot?") format("eot"), url("../fonts/SFUIText/SFUIText-Light.otf") format("opentype"), url('../fonts/SFUIText/SFUIText-Light.svg#str-replace(sfL, " ", "_")') format("svg"), url("../fonts/SFUIText/SFUIText-Light.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText-Light.woff") format("woff"); }

@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Charter/Charter.eot?") format("eot"), url('../fonts/Charter/Charter.svg#str-replace(Charter, " ", "_")') format("svg"), url("../fonts/Charter/Charter.woff") format("woff"), url("../fonts/Charter/Charter.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeue.eot?") format("eot"), url('../fonts/HelveticaNeue/HelveticaNeue.svg#str-replace(HelveticaNeue, " ", "_")') format("svg"), url("../fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"); }

@font-face {
  font-family: "TimesNewRoman";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/TimesNewRoman/TimesNewRoman.eot?") format("eot"), url('../fonts/TimesNewRoman/TimesNewRoman.svg#str-replace(TimesNewRoman, " ", "_")') format("svg"), url("../fonts/TimesNewRoman/TimesNewRoman.woff") format("woff"), url("../fonts/TimesNewRoman/TimesNewRoman.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  font-family: "sf";
  font-size: 14px;
  line-height: 1.15;
  color: #3a3a3a; }

article, aside, figcaption, figure, footer, header, nav, section {
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.icon_grey {
  fill: #949a96; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.img {
  display: block; }
  .img-center {
    margin: 0 auto; }

.justify {
  text-align: justify;
  text-justify: newspaper;
  text-align-last: justify; }

.justify-reset {
  text-align: initial;
  text-justify: initial;
  text-align-last: initial; }

button:focus,
input:focus {
  -webkit-outline: none;
  -moz-outline: none;
  -ms-outline: none;
  -o-outline: none;
  outline: none; }

.uppercase {
  text-transform: uppercase !important; }

.lowercase {
  text-transform: none !important; }

.border-right {
  border-right: solid 1px #e6e6e6; }

h1, .h1 {
  font-family: Charter;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase; }

h2, .h2 {
  font-family: Charter;
  font-size: 36px;
  font-weight: normal; }

h3, .h3 {
  font-family: Charter;
  font-size: 30px;
  font-weight: normal; }

h4, .h4 {
  font-family: "sfB";
  font-size: 18px; }

p {
  font-size: 15px;
  margin: 0 0 10px; }

.subtitle {
  font-family: 'Times New Roman';
  font-size: 24px;
  font-style: italic;
  padding: 8px 0 55px;
  text-align: center; }

.italic {
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: 18px; }

.pink {
  color: #ff92ce; }

.title-light_s {
  font-family: sfl;
  font-size: 15px;
  color: #3a3a3a; }

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1024px; }

.hidden {
  display: none; }

.visible {
  display: block; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-jst {
  text-align: justify; }

.in-bl {
  display: inline-block;
  vertical-align: middle; }

.prel {
  position: relative; }

.clearfix:before, .clearfix:after,
.row:before, .row:after {
  clear: both;
  content: '';
  display: table; }

.row {
  margin: 0 -12px; }

.col-li-4 {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  padding-top: 21px; }
  .ie9 .col-li-4 {
    width: 600px; }

.col {
  float: left;
  padding: 0 12px; }

.col-1 {
  width: 8.33333333%; }

.col-2 {
  width: 16.66666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333333%; }

.col-5 {
  width: 41.66666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333333%; }

.col-8 {
  width: 66.66666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333333%; }

.col-11 {
  width: 83.33333333%; }

.col-12 {
  width: 100%; }

.btn {
  border-radius: 5px;
  border: 1px solid #e395c0;
  color: #e395c0;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  min-width: 150px;
  padding: 5px 20px; }
  .btn:hover {
    border-color: #dc7ab0;
    color: #dc7ab0; }

.btn-bg {
  background-color: #e395c0;
  color: #fff;
  font-size: 18px; }
  .btn-bg:hover {
    background-color: #dc7ab0;
    color: #fff; }

.btn_main-banner {
  border-radius: 10px 10px 0 0;
  bottom: 0;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.11);
  font-family: "sfM";
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  right: 15px;
  text-transform: uppercase; }

.link {
  cursor: pointer;
  text-decoration: none; }

.link_white {
  color: #fff; }

.link_underline {
  text-decoration: underline; }

.link_white.link_underline {
  text-decoration: none;
  border-bottom: 1px solid #fff; }

.link_size_s {
  font-family: "sfL";
  font-size: 12px; }

.link_size_m {
  font-family: "sfL";
  font-size: 14px; }

.link_more {
  border-bottom: 1px dashed;
  color: #ff92ce; }

.line {
  background: url(../images/line.png) center no-repeat;
  height: 1px;
  margin: 60px 0 85px; }

.radio {
  cursor: pointer; }
  .radio:before, .radio:after {
    content: '';
    display: inline-block; }
  .radio:before {
    opacity: 0;
    position: relative; }
  .radio_default {
    display: inline-block;
    color: #b7b7b7;
    position: relative;
    padding-left: 32px;
    margin: 0 8px; }
    .radio_default:after {
      left: 0;
      top: -2px;
      position: absolute;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      border: solid 1px #e6e6e6; }
  .radio_color {
    margin: 0 8px;
    border-radius: 50%;
    display: block;
    width: 23px;
    height: 23px;
    position: relative;
    border-width: 3px; }
    .radio_color:before {
      position: absolute;
      left: -3px;
      top: -3px;
      width: 23px;
      height: 23px;
      border-radius: 50%; }
  .radio_nav {
    padding-left: 15px; }
    .radio_nav:hover {
      color: #e395c0; }
    .radio_nav:before {
      left: -15px;
      width: 0.8125em;
      height: 0.625em;
      background-position: -1.8125em -0.3125em;
      font-size: 17px; }
      .lt-ie9 .radio_nav:before {
        width: 12px;
        height: 9px;
        background-position: -29px -5px; }

input[type="radio"]:checked + .radio:before {
  opacity: 1; }

input[type="radio"]:checked + .radio_color {
  border-color: transparent; }
  input[type="radio"]:checked + .radio_color:before {
    border: solid #006134; }

input[type="radio"]:checked + .radio_nav:hover {
  color: #006134; }

input[type="radio"]:checked + .radio_default:after {
  border-color: #006134; }

input[type="radio"]:checked + .radio_default:before {
  position: absolute;
  left: 7px;
  top: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #006134; }

.radio_color_white {
  background-color: #fff;
  border: solid 1px #e6e6e6; }

.radio_color_orange {
  background-color: #fbad7d; }

.radio_color_red {
  background-color: #dc474c; }

.radio_color_pink {
  background-color: #e395c0; }

.toggle-block_target {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  overflow: hidden; }

.toggle-block_target.visible {
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s; }

.noUi-target {
  background: #e6e6e6;
  position: relative;
  direction: ltr; }

.noUi-horizontal {
  height: 2px; }

.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.noUi-base, .noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.noUi-connect {
  background: #006134;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0; }

.noUi-horizontal .noUi-handle {
  width: 30px;
  height: 30px;
  left: -25px;
  top: -15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.11); }

.noUi-handle {
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  background: #fff;
  cursor: default;
  position: relative;
  z-index: 1; }

.noUi-base, .noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.tabs__nav {
  margin: 0 -18px 20px; }
  .tabs__nav_item {
    margin: 0 18px;
    font-size: 13px;
    color: #006134;
    display: inline-block;
    font-family: sf;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 27px;
    vertical-align: middle; }
    .tabs__nav_item_active {
      color: #e395c0; }

.tabs__content__list {
  padding-top: 21px; }

.tabs__content {
  position: relative; }
  .tabs__content:not(:nth-child(2)) {
    display: none; }

.header__tel__selected {
  padding: 3px 4px 2px 4px;
  margin-left: -4px; }

.header__tel__icon {
  width: 0.9375em;
  height: 0.9375em;
  background-position: -0.3125em -0.3125em;
  font-size: 16px;
  margin-right: 2px;
  vertical-align: -3px; }
  .lt-ie9 .header__tel__icon {
    width: 14px;
    height: 14px;
    background-position: -5px -5px; }

.header__tel {
  margin: 7px 0 4px; }

.header__deliver__selected {
  padding: 3px 4px 2px 4px;
  margin-left: -4px; }

.header__logo_text,
.text-slider {
  font-size: 13px;
  font-family: Helvetica;
  opacity: .4;
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 485px; }

.text-slider__content {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100000em; }

.text-slider__item {
  float: left;
  width: 485px; }

.header__logo {
  margin-top: 15px; }

.header__logo_text,
.text-slider {
  font-size: 13px;
  font-family: Helvetica;
  opacity: .4;
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 485px; }

.text-slider__content {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100000em; }

.text-slider__item {
  float: left;
  width: 485px; }

.header__cart {
  display: block;
  color: #fff;
  margin: 9px 0 7px;
  position: relative; }
  .header__cart .link {
    position: relative; }

.header__cart-val {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #f49ac1;
  font-family: "sfL";
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  position: absolute;
  left: -21px;
  top: -8px; }

.header__cart__icon {
  fill: #fff;
  position: absolute;
  left: -41px;
  top: -5px;
  font-size: 21px; }

.scroll-top {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 200; }
  .scroll-top__wrap {
    border-radius: 5px;
    padding: 13px 8px 11px;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    background-color: #e395c0; }
  .scroll-top .icon-arrowUp {
    font-size: 12px;
    fill: #fff; }
  .scroll-top__text {
    opacity: 0;
    visibility: hidden;
    left: 0;
    padding: 12px;
    width: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    background-color: #e395c0;
    top: 0;
    color: #fff;
    font-family: sfM;
    z-index: -1;
    border-radius: 0 5px 5px 0; }
  .scroll-top:hover .scroll-top__text {
    visibility: visible;
    opacity: 1;
    left: 90%;
    width: auto; }

.star-rating li {
  float: left;
  padding-right: 15px; }

.star-rating_empty svg {
  font-size: 20px;
  fill: #e6e6e6; }

.star-rating_select svg {
  font-size: 20px;
  fill: #f5b319; }

.header {
  background-color: #006134;
  color: #fff;
  position: relative; }
  .header .header__container {
    padding-top: 11px;
    padding-bottom: 11px; }

.header__link_callback {
  display: inline-block; }

.slider {
  height: 577px;
  left: 0;
  list-style-type: none;
  margin-top: -57px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1; }
  .slider__item {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1; }
    .slider__item:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing; }
    .slider__item_bg {
      background-image: url(../images/sliderBg.jpg);
      height: 577px;
      width: 100%; }
      .slider__item_bg .slider__item__img {
        bottom: 0;
        height: 100%;
        max-height: 515px;
        min-height: auto;
        top: auto; }
    .slider__item_show {
      opacity: 1;
      z-index: 2; }
    .slider__item__img {
      display: block;
      width: auto;
      min-height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0; }
    .slider__item__txt {
      left: 0;
      z-index: 3;
      position: absolute;
      top: 72px;
      width: 100%; }

.bullet-wrap {
  position: relative; }

.bullet {
  bottom: 30px;
  left: 0;
  margin: 0 -10px;
  position: absolute;
  width: 100%;
  z-index: 3; }
  .bullet__item {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 10px; }
    .bullet__item_active {
      background-color: #7ab799; }

.slide-shift {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.dropdown__selected_theme_black {
  color: #303030; }
  .dropdown__selected_theme_black.dropdown__selected__icon:after {
    width: 0.625em;
    height: 0.375em;
    background-position: -0.3125em -1.8125em; }
    .lt-ie9 .dropdown__selected_theme_black.dropdown__selected__icon:after {
      width: 9px;
      height: 5px;
      background-position: -5px -29px; }

.dropdown__selected_theme_white {
  color: #fff; }
  .dropdown__selected_theme_white.dropdown__selected__icon:after {
    width: 0.625em;
    height: 0.375em;
    background-position: -1.5em -1.8125em; }
    .lt-ie9 .dropdown__selected_theme_white.dropdown__selected__icon:after {
      width: 9px;
      height: 5px;
      background-position: -24px -29px; }

.dropdown__selected_theme_m {
  font-size: 15px;
  font-family: "sfM"; }

.dropdown__selected_theme_s {
  font-family: "sfL";
  font-size: 12px; }

.dropdown__selected__icon:after {
  content: '';
  font-size: 14px;
  margin-left: 4px;
  vertical-align: middle; }

.dropdown__selected {
  cursor: pointer;
  display: inline-block;
  position: relative; }
  .dropdown__selected:after {
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .dropdown__selected-active.dropdown__selected__icon:after {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
    filter: FlipV;
    -ms-filter: "FlipV"; }
  .dropdown__selected-active_bg {
    background-color: #06512c;
    border-radius: 12px; }
    .dropdown__selected-active_bg.dropdown__selected__icon:after {
      -moz-transform: scale(1, -1);
      -webkit-transform: scale(1, -1);
      -o-transform: scale(1, -1);
      transform: scale(1, -1);
      filter: FlipV;
      -ms-filter: "FlipV"; }

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e6e6e6;
  z-index: 20;
  top: 32px;
  padding: 10px 15px 15px; }
  .dropdown__content .dropdown__content__tel {
    top: 34px; }
  .dropdown__content:before {
    content: '';
    position: absolute;
    top: -7px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-top: solid 1px #e6e6e6;
    border-left: solid 1px #e6e6e6;
    transform: rotate(45deg); }

.dropdown__content__item {
  font-family: sf;
  font-size: 14px;
  line-height: 33px;
  white-space: nowrap;
  cursor: pointer;
  text-transform: none;
  color: #006134; }
  .dropdown__content__item_black {
    color: #303030; }
  .dropdown__content__item:hover {
    color: #e395c0; }
  .dropdown__content__item_selected {
    color: #e395c0; }

.dropdown__content__link {
  font-family: sf;
  font-size: 14px;
  line-height: 33px;
  white-space: nowrap; }

.dropdown {
  position: relative; }

.awesomplete__input {
  padding-left: 15px;
  width: 395px;
  border: solid 1px #006134;
  border-radius: 5px;
  height: 43px;
  font-size: 14px;
  font-family: sf; }
  .awesomplete__input:focus {
    outline: none; }

.awesomplete {
  width: 395px;
  position: relative; }
  .awesomplete ul {
    border: solid 1px #e6e6e6;
    position: absolute;
    left: 0;
    top: 43px;
    width: 395px;
    background-color: #fff; }
    .awesomplete ul li {
      font-size: 14px;
      background-color: #fff;
      color: #000;
      padding: 10px;
      cursor: pointer; }
      .awesomplete ul li:hover {
        background-color: #e8f1ed; }
        .awesomplete ul li:hover mark {
          background-color: #e8f1ed; }
      .awesomplete ul li mark {
        background-color: #fff; }

.search-form__input {
  border: none;
  box-shadow: none;
  font-family: "sfL";
  font-size: 14px;
  color: #006134;
  width: 90%;
  padding-left: 13px;
  vertical-align: top; }
  .search-form__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #006134; }
  .search-form__input::-moz-placeholder {
    /* Firefox 19+ */
    color: #006134; }
  .search-form__input:-ms-input-placeholder {
    /* IE 10+ */
    color: #006134; }
  .search-form__input:-moz-placeholder {
    /* Firefox 18- */
    color: #006134; }

.search-form__nav {
  border-top: 1px solid #e6e6e6; }
  .search-form__nav ul {
    white-space: nowrap; }

.search-form__nav-item {
  display: inline-block;
  padding: 8px 15px 8px 6px; }
  .search-form__nav-item .icon-arrow {
    fill: #006134;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .search-form__nav-item:hover .icon-arrow {
    fill: #f49ac1;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.search-form__nav-item,
.search-form__nav-option {
  color: #006134;
  cursor: pointer; }

.search-form__nav-option {
  white-space: nowrap;
  line-height: 33px; }

.search-form__nav-item:hover .search-form__nav__content {
  display: block; }

.search-form__nav__content {
  display: none;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #e6e6e6;
  position: absolute;
  top: 34px;
  left: 0;
  padding: 9px 57px 10px 15px;
  background-color: #fff; }

.search-form__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 2px;
  font-size: 17px; }

.search-form {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 89px;
  width: 100%; }
  .search-form__link {
    bottom: 12px;
    right: 15px;
    position: absolute; }
  .search-form__content {
    z-index: 10;
    background-color: #fff;
    left: 0;
    position: relative;
    right: 0;
    top: -69px;
    height: 69px;
    z-index: 12; }

.search-form__link__icon {
  fill: #fff;
  font-size: 13px;
  margin-right: 3px;
  vertical-align: middle; }

.search-form__wrap {
  vertical-align: top;
  padding: 9px 0 5px; }

.search-form__wrap__icon {
  margin-left: 5px;
  margin-top: 2px;
  font-size: 14px;
  fill: #006134; }

.navbar-nav__item {
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  position: relative;
  vertical-align: top; }
  .navbar-nav__item_title {
    font-family: sfM;
    margin-bottom: 7px;
    margin-top: 2px;
    text-transform: uppercase;
    white-space: normal; }
  .navbar-nav__item__link {
    font-family: sf;
    font-size: 14px;
    line-height: 33px;
    white-space: nowrap;
    cursor: pointer;
    text-transform: none;
    color: #006134; }

.navbar-nav__link {
  color: #006134;
  padding: 21px 22px 19px;
  display: inline-block; }
  .navbar-nav__link .icon-arrow {
    font-size: 6px;
    vertical-align: middle; }
  .navbar-nav__link:hover + .navbar-nav__dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; }

.navbar-nav__link_active {
  color: #f49ac1; }

.navbar-nav {
  font-size: 1px;
  line-height: 0;
  margin: 0 -22px;
  position: relative;
  text-transform: uppercase;
  z-index: 11;
  zoom: 1;
  top: -2px; }
  .navbar-nav:after {
    content: '';
    display: inline-block;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    width: 100%; }
  .navbar-nav__dropdown {
    display: block;
    opacity: 0;
    padding: 28px 10px 15px;
    top: 56px;
    transform: translateY(0);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    visibility: hidden;
    width: 998px;
    z-index: -1; }
    .navbar-nav__dropdown:before {
      left: 30px; }
    .navbar-nav__dropdown:hover {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
      visibility: visible;
      z-index: 12; }
    .navbar-nav__dropdown_left {
      left: 25px; }
    .navbar-nav__dropdown__wrap {
      margin-bottom: 37px; }
  .navbar-nav__price {
    position: absolute;
    right: 41px;
    bottom: 55px; }
    .navbar-nav__price_old {
      font-size: 24px;
      display: block; }
    .navbar-nav__price_new {
      font-size: 28px;
      display: block; }

.main-banner {
  position: relative;
  color: #fff; }
  .main-banner .prel {
    position: relative; }

.main-banner_title {
  font-size: 51px;
  line-height: 55px;
  letter-spacing: -0.01em;
  font-family: Charter; }

.main-banner_subtitle {
  font-size: 26px;
  font-family: 'Times New Roman';
  font-style: italic; }

.fast-buy__range {
  padding-top: 15px; }
  .fast-buy__range .noUi-target {
    width: 240px !important;
    margin-left: 15px; }
    .fast-buy__range .noUi-target:before {
      background-color: #006134;
      content: '';
      height: 2px;
      left: -15px;
      position: absolute;
      top: 0;
      width: 20px; }

.fast-buy__range__minus,
.fast-buy__range__plus {
  cursor: pointer;
  font-size: 23px;
  fill: #e6e6e6; }

.fast-buy__range__val {
  width: 44px;
  font-size: 17px;
  font-family: sfL; }

.fast-buy__range__amount {
  margin-bottom: 25px; }

.fast-buy__range__step {
  margin-top: 5px;
  margin-left: -10px;
  width: 270px;
  font-size: 12px;
  color: #e6e6e6; }

.fast-buy__range__step li {
  display: block;
  float: left;
  width: 11.1%;
  text-align: center; }

.fast-buy__preview {
  position: absolute;
  right: calc(100% - 31px);
  width: 740px;
  height: calc(100% + 2px);
  background-color: #fff;
  top: -1px;
  border-radius: 5px 0 0 0;
  border-top: solid 1px #e6e6e6;
  border-left: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  visibility: hidden;
  opacity: 0;
  transform: translateX(319px);
  z-index: -1;
  transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index .5s linear .05s; }
  .fast-buy__preview:hover {
    visibility: visible;
    opacity: 1;
    z-index: -1;
    transform: translateY(0%);
    transition-delay: .2s, 0s, .5s; }
  .fast-buy__preview_hover {
    position: relative;
    z-index: 12; }
    .fast-buy__preview_hover:hover ~ .fast-buy__preview {
      visibility: visible;
      opacity: 1;
      z-index: -1;
      transform: translateY(0%);
      transition-delay: .2s, 0s, .5s; }

.fast-buy__dropdown {
  margin-top: 15px; }

.fast-buy {
  bottom: 0;
  color: #303030;
  overflow: hidden;
  position: absolute;
  right: 15px;
  width: 319px; }
  .fast-buy__content {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border: solid 1px #e6e6e6;
    padding: 16px 30px 16px 30px;
    position: relative;
    top: 522px;
    height: 522px;
    z-index: 11; }

.btn_main-banner {
  z-index: 10; }

.fast-buy_close {
  content: '';
  cursor: pointer;
  display: block;
  display: block;
  float: right;
  font-size: 15px;
  margin-right: -15px; }

.fast-buy__img {
  display: block;
  height: 150px;
  margin: 0 auto;
  width: auto; }

.fast-buy__radio {
  margin-top: 18px; }

.fast-buy__radio__list {
  width: 100%;
  margin: 13px -8px; }

.fast-buy__btn {
  margin-top: 14px;
  width: 100%; }

.pref {
  color: #949a96;
  font-family: "sfL";
  font-size: 13px;
  padding-top: 20px; }
  .pref .icon {
    font-size: 18px; }

.catalog__item {
  margin: 0 -34px -40px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 14px 24px;
  position: relative; }
  .catalog__item:hover {
    border-color: #e6e6e6;
    z-index: 1;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .catalog__item:hover .btn-catalog {
      margin: 0 auto;
      opacity: 1;
      -webkit-transition: all .6s ease-in-out;
      -o-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out; }
    .catalog__item:hover .catalog__item-size {
      opacity: .6;
      -webkit-transition: all .6s ease-in-out;
      -o-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out; }
    .catalog__item:hover .catalog__item-size_active {
      opacity: 1;
      -webkit-transition: all .6s ease-in-out;
      -o-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out; }
    .catalog__item:hover .choose-color {
      opacity: 1;
      -webkit-transition: all .6s ease-in-out;
      -o-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out; }

.btn-catalog {
  display: block;
  width: 150px;
  opacity: 0; }

.catalog__item-size {
  color: #025929;
  opacity: 0;
  text-align: left;
  cursor: pointer; }

.catalog__item-size_active .catalog__item-size-name {
  font-family: "sfB"; }

.catalog__item-size-sm {
  font-size: 11px; }

.catalog__item-name {
  font-family: "sfM";
  font-size: 16px;
  padding-bottom: 5px;
  color: #3a3a3a;
  display: block; }

.catalog__item-price {
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block; }

.catalog__item-price_old {
  text-decoration: line-through;
  font-family: "sf";
  padding: 0 4px; }

.catalog__item-price_new {
  color: #ff92ce;
  font-family: "sfB";
  padding: 0 4px; }

.catalog__img {
  margin-bottom: 25px;
  display: block; }

.catalog__btn-place {
  padding: 65px 0 15px;
  text-align: center; }

.catalog-pref-link {
  position: relative;
  display: inline-block;
  color: #949a96;
  margin-top: 10px; }
  .catalog-pref-link:hover {
    color: #006134; }
  .catalog-pref-link.catalog-pref-link_Bouqet {
    padding-left: 38px; }
  .catalog-pref-link.catalog-pref-link_Car {
    padding-left: 38px; }
  .catalog-pref-link.catalog-pref-link_Znak {
    padding-left: 32px; }
  .catalog-pref-link .icon {
    position: absolute;
    left: 0;
    top: 50%; }
    .catalog-pref-link .icon.icon-Bouqet {
      font-size: 22px;
      top: -5px; }
    .catalog-pref-link .icon.icon-Car {
      font-size: 18px;
      top: -3px; }
    .catalog-pref-link .icon.icon-Znak {
      font-size: 25px;
      top: -6px; }

.choose-color__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  margin-bottom: 14px; }

.choose-color__item_color1 {
  background: #fff;
  border: 1px solid #e6e6e6; }

.choose-color__item_color2 {
  background: #f8eb33; }

.choose-color__item_color3 {
  background: #e17474; }

.choose-color__item_color4 {
  background: #e395c0; }

.choose-color {
  position: absolute;
  right: 20px;
  top: 80px;
  opacity: 0; }

.present {
  padding-top: 80px; }

.present__flower {
  position: absolute;
  left: -481px;
  top: -67px; }

.review__date {
  color: #b7b7b7;
  font-family: "sfL"; }

.review__item {
  margin-top: 64px; }

.review__name {
  font-size: 18px;
  margin: 5px 0 30px; }

.review__rating {
  margin-bottom: 30px; }

.review__text {
  font-family: "sfL"; }

.review__btn-place {
  text-align: center;
  margin: 52px 0 70px; }

.section-ig__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px; }
  .section-ig__title .icon {
    top: 6px;
    position: relative;
    margin-right: 5px; }

.ig__item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  height: 314px;
  vertical-align: middle; }
  .ig__item:hover .ig__overlay {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out; }

.ig__overlay {
  opacity: 0;
  position: absolute;
  left: 12px;
  top: 0;
  width: calc(100% - 24px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 314px; }
  .ig__overlay_wrap {
    display: inline-block;
    height: auto;
    line-height: 35px; }
  .ig__overlay .icon {
    fill: #fff;
    font-size: 34px;
    vertical-align: middle; }
  .ig__overlay__amount {
    font-size: 25px;
    vertical-align: middle;
    font-family: sfB;
    color: #fff; }

.footer__block {
  margin-top: 25px; }

.footer__bottom {
  color: #698e7d;
  opacity: .6;
  margin-top: 40px; }

.footer__mail {
  color: #698e7d;
  font-family: "sfL"; }

.footer__title {
  color: #006134;
  font-family: "sfM";
  margin-bottom: 5px; }

.footer__tel {
  color: #006134;
  font-size: 23px;
  font-family: "sfL"; }

.footer {
  background-color: #e8f1ed;
  padding: 30px 0;
  margin-top: 60px; }
  .footer__available {
    margin-left: -12px; }
    .footer__available .icon {
      font-size: 33px;
      fill: #b8cabf; }
  .footer__social {
    margin-right: -24px; }
    .footer__social li {
      margin: 0 4px 0 9px;
      display: inline-block; }
    .footer__social a {
      background-color: #b8cabf;
      border-radius: 5px;
      width: 33px;
      height: 33px;
      text-align: center;
      display: inline-block;
      line-height: 33px; }
    .footer__social .icon {
      fill: #fff;
      vertical-align: middle; }
      .footer__social .icon-Facebook {
        font-size: 21px; }
      .footer__social .icon-vk {
        font-size: 14px; }
      .footer__social .icon-Instagram {
        font-size: 21px; }
      .footer__social .icon-Odnoclass {
        font-size: 20px; }
      .footer__social .icon-twitter {
        font-size: 18px; }

.footer-info {
  border-bottom: 1px solid #c1d0c7;
  padding-bottom: 20px;
  margin-bottom: 5px; }

.footer_link {
  color: #698e7d;
  margin-bottom: 5px;
  display: inline-block; }

.modal {
  background-color: #fff;
  border-radius: 5px;
  display: none;
  height: auto;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  z-index: 1001;
  font-family: sf;
  font-size: 16px; }
  .modal__close {
    border: block;
    background-color: transparent;
    cursor: pointer;
    margin: 25px 22px 0 0;
    font-size: 16px; }
  .modal__content {
    padding: 0 106px;
    margin-top: 37px; }
  .modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    background: rgba(19, 29, 23, 0.64);
    width: 100%;
    height: 100%;
    z-index: 1000;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease; }

/*# sourceMappingURL=maps/styles.css.map */
