<section class="how" id="how">
  <div class="container_md">
    <div class="h3 how__title text-center">Как подключить интернет?</div>
    <div class="subtitle text-center">Оставьте заявку на сайте и с вами свяжится наш специалист для уточнения деталей и времени выезда техника для подключения услуг.</div>
    <ul class="how__sheme clearfix">
      <li class="how__sheme__step how__sheme__step_dashed">
        <div class="how__sheme__num">1</div>
        <p class="how__sheme__descript">Оставляете заявку <br> на сайте</p>
      </li>
      <li class="how__sheme__step how__sheme__step_solid">
        <div class="how__sheme__num">2</div>
        <p class="how__sheme__descript">В течение часа с вами свяжется оператор и подберет удобное время для визита техника</p>
      </li>
      <li class="how__sheme__step how__sheme__step_solid">
        <div class="how__sheme__num">3</div>
        <p class="how__sheme__descript">Техник проведет кабель, оформит договор и примет оплату — это займет не более часа</p>
      </li>
      <li class="how__sheme__step how__sheme__step_solid">
        <svg class="icon icon-arrow how__sheme__arrow"><use xlink:href="#arrow"></use></svg>
        <div class="how__sheme__num">4</div>
        <p class="how__sheme__descript">Вы становитесь счастливым клиентом Дом.ru</p>
      </li>
    </ul>
  </div>
</section>