.wrap-new{
  margin-right: 72px;
  .divid{
    margin-top: 40px;
  }
  .date, p.new-text{
    color: @lRed;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    @media @mobile, @mobile-md {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .date .icon-date{
      .sprite(@s-calendar-big);
  }
}
.new-title{
  font-family: ClearSansRegular;
  color: #fff;
  background-image: url(../images/ribbon.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin: 10px auto 0;
  padding: 16px 0 26px;
  text-align: center;
  font-size: 22px;
  @media @tablet, @highdensity, @mobile, @mobile-md {
    font-size: 18px;
    background-size: 100% 100%;
    padding: 16px 80px 26px;
    line-height: 24px;
  }
  @media @mobile, @mobile-md{
    padding: 16px 40px 36px;
  }
}
.new-image{
  float: right;
  margin-left: 10px;
  max-width: 207px;
  margin-right: 42px;
  img{
    max-width: 100%;
  }
  @media @mobile, @mobile-md{
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}
