/* Webfont: FedraSansAltPro-DemiTF */@font-face {
    font-family: 'FedraSansAltProDemiTF';
    src: url('FedraSansAltPro-DemiTF.eot'); /* IE9 Compat Modes */
    src: url('FedraSansAltPro-DemiTF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FedraSansAltPro-DemiTF.woff') format('woff'), /* Modern Browsers */
         url('FedraSansAltPro-DemiTF.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FedraSansAltPro-DemiTF.svg#FedraSansAltPro-DemiTF') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

