
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
  -webkit-order: 1;
  height: 80px;
  min-width: $min-width;
  order: 1; 
  text-align:left;
  width:100%;
}
.logo {
  font-family: Museo Sans Cyrillic,sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
  margin-right: 44px;
  padding-top: 20px;
  img {
    vertical-align: -17px;
    margin-right: 5px;
  }
}
.main-nav {
  font-size: $f_size_xl;
  padding-top: 36px;
  line-height: $base-line-height;
  a {
    margin: 0 11px;
  }
  &-list {
    list-style-type: none;
    &__item {
      display: inline-block;
    }
  }
  &_right {
    padding-top: 36px;
    line-height: $base-line-height;
    font-size: $f_size_s;
    a {
      margin-left: 10px;
    }
  }
}
.box-lang {
  list-style-type: none;
  margin-right: 38px;
  padding-top: 33px;
  .list-lang {
    list-style-type: none;
  }
  .list-lang__item {
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    margin-right: -4px;
    a {
      display: block;
    }
    &.active {
      border: solid 1px $bd_color;
    }
  }
}
.toggle {
  cursor: pointer;
  margin-top: 33px;
  width: 25px;
  height: 20px;
  
  position: relative;
  display: none;
  float: right;
  &-line {
    width: 100%;
    height: 2px;
    background-color: $text-color;
    margin-top: 9px;
    transition: $default-transition;
  }
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 0;
    background-color: $text-color;
    left: 0;
    transition: $default-transition;
  }
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: $text-color;
    left: 0;
    transition: $default-transition;
  }
  &.active {
    &:after {
      transform: rotate(45deg);
      transform-origin: left center;
    }
    &:before {
      transform: rotate(-45deg);
      transform-origin: left center;
    }
    .toggle-line {
      background: transparent;
    }
  }
}
@media screen and (max-width: 1260px) {
  .logo,
  .box-lang {
    margin-right: 0px;
  }
  .box-lang {
    padding-top: 0;
    clear: left;
  }
  .main-nav {
    font-size: $f_size_s;
      a {
        margin-left: 10px;
        margin-right: 0;
      }
  }

}
@media screen and (max-width: 991px) {
  .toggle {
    display: block;
    z-index: 10001;
  }
  .nav-mobile {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    z-index: 10000;
    padding: 35px 25px 25px;
  }
  .box-lang {
    margin-top: 20px;
    .list-lang__item {
      margin-right: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .main-nav,
  .box-lang {
    padding-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    float: none !important;
    clear: left;
    a {
      margin-left: 0;
      line-height: $f_size_l*2;
      font-size: $f_size_l;
    }
    &-list__item {
      display: block;
    }
  }
}