.list-check {
  font-size: $f_size_l;
  line-height: $l_height_l;
  font-size: $f_size_l;
  margin-left: -10px;
  &__item {
    list-style-type: none;
    display: inline-block;
    input {
      &:checked + .label-text {
        color: #fff;
        background-color: $brand-color_d;
        padding: 5px 9px 6px 10px;
        &:before {
          content: '\e901';
          height: 11px;
          width: 14px;
          @extend [class^="icon-"];
          border: none;
          font-size: 9px;
        }
      }
    }
    .label-text {
      &:before {
        margin-right: 7px;
        content: '';
        display: inline-block;
        border: solid 2px $bd_color;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
  &__label {
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .list-check__item {
    margin-bottom: 20px;
  }
}