.rooms {
  margin-top: 0;
  &__icon-group {
    margin-top: 5px;
    
    span {
      vertical-align: middle;
      font-size: $f_size_s;
    }
    [class^="icon-"] {
      font-size: 23px;
      vertical-align: -6px;
    }

  }
  &__row {
    margin-left: -10px;
    margin-right: -10px;
  }
  &__wrap {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  &__title {
    font-size: $f_size_l;
    margin-bottom: 20px;
    line-height: $l_height_l;
  }
}
@media screen and (max-width: 1200px) {
}